@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=PT+Sans+Caption&display=swap');

#root {
  height: 100%;
  padding-top: 100px;
  background: #f2f2f2;
  font-family: 'PT Sans Caption', sans-serif;
}

html.js-focus-visible {
  background: #f2f2f2;
}

body {
  color: $favColor;
}

nav.navbar {
  background-color: #f2f2f2;
}

// Home Page
.aboutMe {
  height: 80vh;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  font-weight: bold;
}

.title {
  align-self: center;
  font-size: 3rem;
  border-bottom: 2px solid $favColor;
  color: $favColor;
  letter-spacing: 12px;
  font-weight: bold;
}

.jobTitle {
  align-self: center;
  color: $favColor;
  margin-top: 1%;
  font-size: 1.5rem;
}

div.btnContainer {
  text-align: center;
}

#btn {
  background-color: #48494B;
  margin: 3rem;
  border-radius: 45%;
  color: #fff;
}

#btn:hover {
  background-color: #2B2D2F;
  box-shadow: 0px 15px 20px rgba(105, 105, 105, 0.4);
  transform: translateY(-3px);
  margin: 3rem;
  border-radius: 45%;
  color: #fff;
}
// About Me
.mainContainer {
  display: flex;
  color: $favColor;
  text-align: center;
}
section.home {
  margin-top: 10%;
}

div.react-card-front {
  margin-top: 2%;
  text-align: center;
  padding: 2% 10%;
}
div.react-card-back {
  margin-top: 2%;
  text-align: center;
  padding: 2% 10%;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 4%;
}

ul.introduction-back {
  text-align: left;
  list-style: none;
}

.splitMain {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $favColor;
  font-size: 1.2rem;
}

.profileImg {
  width: 550px;
}

#aboutBtn {
  background-color: #48494B;
  border-radius: 45%;
  color: #fff;
}

#aboutBtn:hover {
  background-color: #2B2D2F;
  box-shadow: 0px 15px 20px rgba(105, 105, 105, 0.4);
  transform: translateY(-3px);
  border-radius: 45%;
  color: #fff;
}

// NSS Journal Page
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $favColor;
  text-align: center;
  padding: 0 10%;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: $secondaryColor;
}

.vertical-container {
  border: 4px solid white;
  padding: 2vh;
  text-align: center;
}

h3.vertical-timeline-element-title {
  margin-bottom: 10px;
}

.nssJourneyContent {
  color: #9A7B4F;
  margin-top: 2%;
  font-size: 1.1rem;
}
// Project Page
div.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  color: #2B2D2F;
}

div.card {
  flex-basis: 40%;
  object-fit: scale-down;
  font-size: 1.1vw;
  background-color: #f2f2f2;
  border: none;
  height: 720px;
}

div.cardBody {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projectImg {
  width: 80%;
  height: 50%;
}

.readMore:hover {
  cursor: pointer;
}
// Technlogy Page
div.techCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

img#technologyImg {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

div.technlogyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.techCard.card {
  max-width: 200px;
}

// Contact Page
main.contactSplit {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  width: 100%;
}
section.contactContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

div.contactInfo {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.contactImg {
  max-width: 400px;
  padding: 2%;
  height: 90vh;
  object-fit: fill;
}

.img1 {
  width: 300px;
}

i.fab {
  font-size: 5rem;
  color: $favColor;
}

i.far {
  font-size: 5rem;
  color: $favColor;
}

p.icon {
  text-align: center;
}

div.picture {
  align-self: flex-end;
}

// Navbar
a.navbar-brand {
  color: $favColor;
  font-weight: bold;
}

a.navbar-brand:hover {
  color: $secondaryColor;
}

a.nav-link {
  color: $favColor;
  font-weight: bold;
}

a.nav-link:hover {
  color: $secondaryColor;
}

#school {
  font-size: 2rem;
}

.journalImg {
  width: 400px;
}

@media screen and (max-width: 800px) {
  .mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .aboutMe {
    margin-top: 2%;
    font-size: 3vw;
  }
  p.introduction {
    align-self: stretch;
    align-items: center;
  }
  div.react-card-front {
    text-align: center;
    padding: 0%;
  }
  div.react-card-back {
    text-align: center;
    padding-top: 2%;
  }
}
